<form>
    <label style="display: block">Placeholder:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="placeholder" id="placeholder"
           [(ngModel)]="placeholder">
    <label style="display: block">Time:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="time" id="time" [(ngModel)]="time">
    <label style="display: block">Date Time:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="date_time" id="date_time"
           [(ngModel)]="date_time">
    <label style="display: block">Cep:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="cep" id="cep" [(ngModel)]="cep">
    <label style="display: block">Phone:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="phone" id="phone" [(ngModel)]="phone">
    <label style="display: block">Phone with ddd:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="phone_with_ddd" id="phone_with_ddd">
    <label style="display: block">Phone Us:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="phone_us" id="phone_us">
    <label style="display: block">Mixed:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="mixed" id="mixed">
    <label style="display: block">Cpf:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="cpf" id="cpf">
    <label style="display: block">Cnpj:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="cnpj" id="cnpj">
    <label style="display: block">Money:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="money" id="money">
    <label style="display: block">Money2:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="money2" id="money2">
    <label style="display: block">Ip Address:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="ip_address" id="ip_address">
    <label style="display: block">Percent:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="percent" id="percent">
    <label style="display: block">Clear if not match:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="clear-if-not-match"
           id="clear-if-not-match">
    <label style="display: block">Fallback:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="fallback" id="fallback">
    <label style="display: block">Selectionfocus:</label>
    <input style="width: 200px;font-size: inherit" pInputText type="text" name="selectonfocus" id="selectonfocus">
    <br>
    <button pButton label="Reset" icon="fa-close" (click)="onReset()"></button>
    <button pButton label="Submit" icon="fa-check" (click)="onClick()"></button>

</form>

<p-dialog header="Inputmask Data" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="placeholder_1">Placeholder</label></div>
            <div class="ui-grid-col-8"><input pInputText id="placeholder_1" [(ngModel)]="placeholder" readonly="true">
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="time_1">Time</label></div>
            <div class="ui-grid-col-8"><input pInputText id="time_1" [(ngModel)]="time" readonly="true"></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="date_time_1">Date Time</label></div>
            <div class="ui-grid-col-8"><input pInputText id="date_time_1" [(ngModel)]="date_time" readonly="true"></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="cep_1">Cep</label></div>
            <div class="ui-grid-col-8"><input pInputText id="cep_1" [(ngModel)]="cep" readonly="true"></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="phone_1">Phone</label></div>
            <div class="ui-grid-col-8"><input pInputText id="phone_1" [(ngModel)]="phone" readonly="true"></div>
        </div>
    </div>
</p-dialog>
